/* 1. UNIVERSAL SELECTOR (*) */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* fancy font for the header */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* 2. Some variables and fall backs */
:root {
  --primary-color: #d8544f; /* Pomodoro Red */
  --secondary-color: #000000;
  --text-color: #333;
  --bg-light: #0ca704;
  --font-main: 'Roboto', sans-serif; /* 3rd Party Font */
}
/* colors for the entire page */
body {
  font-family: var(--font-main, Arial); /* Fallback */
  background-color: var(--bg-light);
  color: var(--secondary-color);
  line-height: 1.6;
}
/* color and stuff for the header */
header {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1, h2, h3 { color: var(--primary-color); } /* Selector  */
#attendance { background: white; }           /* ID  */
.subtitle { font-style: italic; }          /* Class */
/* Units */
main {
  padding: 2rem;       /* Relative  */
  min-height: 80vh;    /* Relative  */
  width: 90%;          /* Relative  */
  max-width: 800px;    /* Absolute  */
  margin: 0.5in auto;  /* Absolute  */
  font-size: 12pt;     /* Absolute  */
}
/* Box model stuff */
section {
  /* Padding: Longhand */
  padding-top: 20px;
  padding-bottom: 20px;
  /* Padding: Shorthand */
  padding: 20px 40px; 

  /* Margin: Shorthand & Auto */
  margin: 20px auto; 

  /* Border: Longhand */
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  /* Border: Shorthand */
  border-bottom: 3px solid var(--primary-color);
  border-radius: 10px;
}

/* 8. Display/Postioning */
nav {
  position: sticky; /* Position 1 */
  top: 0;
  background: white;
  display: block;   /* Display 1 */
  z-index: 100;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

nav a {
  display: inline-block; /* Display 2 */
  position: relative;    /* Position 2 */
  text-decoration: none;
  color: var(--primary-color);
  padding: 5px 10px;
}
